<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBh4ZPV0c29mhaFS6T5uskkcRO4ziOc_p8</string>
	<key>GCM_SENDER_ID</key>
	<string>123158336886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andydragon.Feature-Logging</string>
	<key>PROJECT_ID</key>
	<string>featurelogging</string>
	<key>STORAGE_BUCKET</key>
	<string>featurelogging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123158336886:ios:11abcd4f16397119629657</string>
</dict>
</plist>